
  
  .Homepage .menu {
    margin-bottom: var(--space-big);
    text-align: center;
  }
  
  
  
  
  
  
  @media (min-width: 550px) {
    .Homepage .topnav {
      display: flex;
      align-items: center;
      margin-bottom: 0;
      text-align: left;
    }
  
    .Homepage .gallery {
      margin-right: var(--space-big);
      height:60px;
    }
  }
  